body {
  /* display: grid; */
  /* grid-template-columns: repeat(8, 12%);
  grid-template-rows: repeat(autofill, minmax(100px, 1fr));
  gap: 1em; */
  margin: 0;
  padding: 0;
  text-align: center;
  /* background: rgb(27, 41, 41); */
  background-image: url("./images/Carpet5.jpg");
  background-size: 150px;
  /* width: 300px; */
  /* height: 300px; */
  /* border: 2px solid; */
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans Unicode", Roboto, Verdana, sans-serif;
  font-weight: 100;
}
#welcome {
  width: 500px;
}
.SOCtable {
  visibility: hidden;
}

.hidden {
  display: none;
}
button {
  max-width: 100px;
}
h1 {
  grid-row: 1;
  grid-column: 3/7;
  text-align: center;
}
#pokerChips {
  grid-column: 1;
  grid-row: 0;
}

.username-avatar-container {
  grid-row: 2;
  grid-column: 1/7;
  text-align: center;
}

/*-------------Avatar-----------------*/
#player-avatar {
  align-self: center;
  justify-self: center;
  max-width: 100px;
}
#computer-avatar {
  align-self: center;
  justify-self: center;
  max-width: 100px;
}
/*-------------Scores,balances-----------------*/
#game-outcome {
  display: none;
  grid-row: 4;
  grid-column: 4/8;
  justify-content: center;
  align-items: center;
}
#player-score {
  grid-row: 4;
  grid-column: 4/8;
  justify-content: center;
  align-items: flex-start;
}
#player-balance-container {
  grid-row: 4;
  grid-column: 4/8;
  justify-content: center;
  align-items: flex-start;
}
#bet-display {
  color: white;
  z-index: 2;
  font-size: 2em;
  grid-row: 3;
  grid-column: 2/4;
  text-align: center;
}
/*-------------Cards-----------------*/
.playing-cards {
  max-width: 100px;
}
#hidden-card {
  max-height: 138.938px;
  width: 100px;
}
#computer-cards {
  grid-row: 2/3;
  grid-column: 2/8;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  align-content: center;
  justify-content: center;
}
#computer-score {
  justify-self: center;
}

#player-cards {
  grid-row: 3/4;
  grid-column: 2/8;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  align-content: center;
  justify-content: center;
}
/*-------------Player buttons-----------------*/
.player-controls {
  grid-row: 4;
  grid-column: 3/7;
  justify-self: center;
  align-self: flex-end;
}

/* Adding the css for the chip */
.pokerChips {
  display: none;
  grid-column: 1;
  grid-row: 1/5;
}

#oneButton {
  font-size: 1.8em;
  text-align: center;
}
#tenButton {
  font-size: 1.5em;
  text-align: center;
}
#hundredButton {
  font-size: 1em;
  text-align: center;
}
#thousandButton {
  font-size: 1.2em;
  text-align: center;
}
#tenThousandButton {
  font-size: 0.8em;
  text-align: center;
}

.chips {
  display: block;
  grid-row: 1;
  width: 2em;
  height: 2em;
  font-size: 2em;
  font-weight: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background: red;
  border: 3px dashed white;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 1em auto;
}
.chip:hover {
  background-color: gold;
}

/* #oneChip {
  display: block;
  grid-row: 1;
  width: 2em;
  height: 2em;
  font-size: 2em;
  font-weight: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background: red;
  border: 3px dashed white;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 1em auto;
} */
#oneChip:hover {
  background-color: darkred;
}
#oneChip:active {
  background-color: darkred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* #tenChip {
  display: block;
  width: 2.5em;
  height: 2.5em;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: justify;
  text-decoration: none;
  color: white;
  background: blue;
  border: 10px dashed white;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 2em auto;
} */
#tenChip:hover {
  background-color: darkblue;
}
#tenChip:active {
  background-color: darkblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#hundredChip {
  display: block;
  width: 2.5em;
  height: 2.5em;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background: green;
  border: 10px dashed white;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 2em auto;
}
#hundredChip:hover {
  background-color: darkgreen;
}
#hundredChip:active {
  background-color: darkgreen;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#thousandChip {
  display: block;
  width: 2.5em;
  height: 2.5em;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background: orange;
  border: 10px dashed white;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 2em auto;
}
#thousandChip:hover {
  background-color: darkorange;
}
#thousandChip:active {
  background-color: darkorange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#tenThousandChip {
  display: block;
  width: 2.5em;
  height: 2.5em;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background: magenta;
  border: 10px dashed white;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 2em auto;
}
#tenThousandChip:hover {
  background-color: darkmagenta;
}
#tenThousandChip:active {
  background-color: darkmagenta;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*-------------Help Overlay-----------------*/
#overlay {
  position: fixed; /*Sits on top of the page content*/
  display: none; /*Hidden by default*/
  width: 100%; /*Full width*/
  height: 100%; /*Full height*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /*Black background with opacity*/
  z-index: 2; /*Specify a stack order in case you're using a different order for other elements*/
  cursor: pointer; /*Add a pointer on the hover*/
}

#helpText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: peachpuff;
  border: black;
  border-width: thick;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
