body{
    display:grid;
    justify-content: center;
    gap: 1em;
    background: rgb(27, 41, 41);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans Unicode', Roboto, Verdana, sans-serif;
    font-weight: 100;
}
.hidden{
    display: none;
}
button{
    max-width: 100px;
}
h1{
    justify-self: center;
}
/*-------------Help Overlay-----------------*/
#overlay{
    position: fixed; /*Sits on top of the page content*/
    display: none; /*Hidden by default*/
    width: 100%; /*Full width*/
    height: 100%; /*Full height*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*Black background with opacity*/
    z-index: 2; /*Specify a stack order in case you're using a different order for other elements*/
    cursor: pointer; /*Add a pointer on the hover*/
}

#helpText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: peachpuff;
    border: black;
    border-width: thick;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


/*-------------Avatar-----------------*/
#player-avatar{
    align-self: center;
    justify-self: center;
}
#computer-avatar{
    align-self: center;
    justify-self: center;
}
/*-------------Scores,balances-----------------*/
#game-outcome{
    justify-self: center;
}
#player-score{
    justify-self: center;
}
#player-balance-container{
    display: grid;
    justify-content: center;
}
/*-------------Cards-----------------*/
.playing-cards{
    max-width: 300px;
}
#hidden-card{
    max-height: 315px
}
#computer-cards{
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}
#computer-score{
    justify-self: center;
}

#player-cards{
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    align-content: center;
    justify-content: center;
}
/*-------------Player buttons-----------------*/
.player-controls{
    justify-self: center;
}



/* Adding the css for the chip */
.pokerChips{
    display: block;
}

#oneButton{
    font-size: 30px;
    text-align: center;
}

#oneChip{
    display: block;
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: red;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 2em auto;
}
#oneChip:hover{
    background-color: darkred;
}
#oneChip:active{
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#tenChip{
    display: block;
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align:justify;
    text-decoration: none;
    color: white;
    background: blue;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 2em auto;
}
#tenChip:hover{
    background-color: darkblue;
}
#tenChip:active{
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#hundredChip{
    display: block;
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 2em auto;
}
#hundredChip:hover{
    background-color: darkgreen;
}
#hundredChip:active{
    background-color: darkgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#thousandChip{
    display: block;
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: orange;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 2em auto;
}
#thousandChip:hover{
    background-color: darkorange;
}
#thousandChip:active{
    background-color: darkorange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#tenThousandChip{
    display: block;
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: black;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 2em auto;
}
#tenThousandChip:hover{
    background-color: black;
}
#tenThousandChip:active{
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}