body{
    background: rgb(27, 41, 41);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans Unicode', Roboto, Verdana, sans-serif;
    background-image: url("images/BlackJackWelcomeTrans.png");
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: top;
}
#game-container{
    display:grid;
    grid-template-columns: repeat(8,12.5%);
    gap: 10px;
}
.hidden{
    display: none;
}

#pokerChips{
    grid-column: 1;
    grid-row: 0;
}

#SOC-header{
    color: #f6b93b;    
}

.username-avatar-container{
    grid-row: 4;
    grid-column: 2/8;
    text-align: center;

.username-avatar-container label{
    text-shadow: 3px 3px 5px #232f36;
}

/*-------------Avatar-----------------*/
#player-avatar{
    width: 10em;
    height: 10em;
    display: grid;
}
#player-avatar img{
    width: 10em;
    height: 10em;
    grid-row: 1;
}
#player-score{
    grid-row: 2;
    justify-self: center;
}

#computer-avatar{
    display: grid;
    width: 10em;
    height: 10em;
}
#computer-avatar img{
    width: 10em;
    height: 10em;
    grid-row: 1;
}

#computer-score{
    grid-row: 2;
    justify-self: center;
}

/*-------------Balances-----------------*/
/* #game-outcome{
    display: none;
    grid-row: 4;
    grid-column: 4/8;
    justify-content: center;
    align-items: center;
} */

#player-balance-container{
    grid-row: 5;
    grid-column: 3/7;
    text-align: center;
    padding-bottom: 10px;
}
#bet-display{
    color: white;
    z-index: 2;
    font-size: 2em;
    grid-row: 3;
    grid-column: 3/7;
    text-align: center;
    
}
/*-------------Cards & Scores--------------*/
.playing-cards{
    width: 10em;
    height: 14em;
    padding: 0 0.3em;
}
#hidden-card{
    width: 10em;
    height: 14em;
    padding: 0 0.3em;
}

#computer-cards-container{
    grid-row: 2;
    grid-column: 2/8;
    display: flex;
    max-width: 80vw;
    align-self: center;
    justify-self: center;
}

#player-cards-container{
    grid-row: 4;
    grid-column: 2/8;
    display: flex;
    max-width: 80vw;
    align-self: center;
    justify-self: center;
}


/*-------------Player buttons-----------------*/
.player-controls{
    grid-row: 5;
    grid-column: 3/7;
    justify-self: center;
    align-self: flex-end;
}

/* Adding the css for the chip */
.pokerChips{
    display: none;
    grid-column: 1;
    grid-row: 1/6;
    justify-self: center;
    align-self: center;
}

#oneButton{
    font-size: 1.8em;
    text-align: center;
}

#tenButton{
    font-size: 1.5em;
    text-align: center;
}
#hundredButton{
    font-size: 1em;
    text-align: center;
}
#thousandButton{
    font-size: 1.2em;
    text-align: center;
}
#tenThousandButton{
    font-size: 0.8em;
    text-align: center;
}

#oneChip{
    display: block;
    grid-row: 1;
    width: 2.5em;
    height: 2.5em;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: red;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 0.5em 0;
}
#oneChip:hover{
    background-color: darkred;
}
#oneChip:active{
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#tenChip{
    display: block;
    width: 2.5em;
    height: 2.5em;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align:justify;
    text-decoration: none;
    color: white;
    background: blue;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 0.5em 0;
}
#tenChip:hover{
    background-color: darkblue;
}
#tenChip:active{
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#hundredChip{
    display: block;
    width: 2.5em;
    height: 2.5em;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 0.5em 0;
}
#hundredChip:hover{
    background-color: darkgreen;
}
#hundredChip:active{
    background-color: darkgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#thousandChip{
    display: block;
    width: 2.5em;
    height: 2.5em;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: orange;
    border: 10px dashed white;
    border-radius: 6em;
    padding-top: 6em/2 - 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 0.5em 0;
}
#thousandChip:hover{
    background-color: darkorange;
}
#thousandChip:active{
    background-color: darkorange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#tenThousandChip{
    display: block;
    width: 2.5em;
    height: 2.5em;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    background: magenta;
    border: 10px dashed white;
    border-radius: 6em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 0.5em 0;
}
#tenThousandChip:hover{
    background-color: darkmagenta;
}
#tenThousandChip:active{
    background-color: darkmagenta;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*-------------Help Overlay-----------------*/
#overlay{
    position: fixed; /*Sits on top of the page content*/
    display: none; /*Hidden by default*/
    width: 100%; /*Full width*/
    height: 100%; /*Full height*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*Black background with opacity*/
    z-index: 2; /*Specify a stack order in case you're using a different order for other elements*/
    cursor: pointer; /*Add a pointer on the hover*/
}

#helpText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: peachpuff;
    border: black;
    border-width: thick;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* Added css for the radio button*/
.switch {
    grid-column: 1;
    position: absolute;
    width: 80px;
    height: 40px;
    text-align: center;
    background: #ddd;
    transition: all 0.2s ease;
    border-radius: 2px;
  }
  .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    background: #fff;
    display: block;
    transition: all 0.2s ease;
  }

  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 50%;
    line-height: 40px;
    font-size: 2em;
    transition: all 0.2s ease;
  }
  label[for=plus] {
    position: absolute;
    left: 0px;
    height: 40px;
  }
  label[for=minus] {
    position: absolute;
    right: 0px;
  }
  #plus:checked ~ .switch label[for=plus] {
    background: green;
  }
   #minus:checked ~ .switch label[for=minus] {
    background: red;
  }
  #minus:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }

  #plus:checked ~ .switch label[for=plus] {
    color: #fff;
  }
  #minus:checked ~ .switch label[for=minus] {
    color: #fff;
  }

#plus:checked ~ .switch span {
  margin-left:-8px
}